nav {
  width: 25rem;
  position: fixed;
  padding-top: $pad;
  padding-left: $pad;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  color: var(--gray);
  background: var(--white);
  @media(max-width: $break_sm) {
    width: 100%;
    top: 0;
    height: $mobile_nav_height;
    padding: $pad;
    br {
      display: none;
    }
    .list-container {
      column-count: 3;
    }
    ul {
      padding-top: 2px;
      li {
        white-space: nowrap;
      }
      li.blank {
        display: none;
      }
      .align-bottom {
        position: static;
      }
    }
  }
  .logo {
    color: var(--black);
    margin-bottom: 1em;
    line-height: 1em;
    a:active {
      color: var(--gray);
    }
  }
  a {
    pointer-events: all;
    border: none;
    color: inherit;
  }
  li.active, li.active a {
    color: var(--stroke);
  }
}

#main.content--homepage nav {
  background: none;
  white-space: nowrap;
  @media(max-width: $break_sm) {
    height: auto;
    position: absolute;
    padding: 2rem 2rem 4rem 2rem;
  }
}
