nav {
  width: 25rem;
  position: absolute;
  padding-top: 3rem;
  padding-left: 3rem;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

nav {
  a {
    pointer-events: all;
  }
  li.active, li.active a {
    color: gray
  }
}
