$ease: cubic-bezier(0.23, 1, 0.32, 1);
$timing_contenttransition: 400ms;
$delay_contenttransition: 100ms;
$pad: 1.8rem;
$mobile_nav_height: 6.2em;

$break_xl: 1500px;
$break_lg: 1250px;
$break_med: 950px;
$break_sm: 700px;


html {
  background: var(--white);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}
#main {
  height: 100vh;
  width: 100vw;
}
.content-main {
  -webkit-overflow-scrolling: touch;
  pointer-events: all;
  width: 75vw;
  height: 100vh;
  padding-left: 25vw;
  position: relative;
  box-sizing: content-box;
  @media(max-width: $break_sm) {
    width: 100%;
    padding-left: 0;
    padding-top: $mobile_nav_height;
  }
}
#main.content--homepage {
  color: white;
  .row a {
    color: inherit;
    border: none;
  }
  ul {
    margin: 0;
    li {
      white-space: nowrap;
    }
  }
  @media(max-width: $break_sm) {
    .content-main {
      padding: 3em 0 0 0;
      box-sizing: border-box;
    }
  }
}

.module {
  width: 100%;
  min-height: 100%;
  padding: $pad 0;
  display: flex;
  flex-direction: column;
  &.space-between {
    justify-content: space-between;
  }
  @media(max-width: $break_sm) {
    padding-bottom: 4em;
  }
}
.row {
  display: flex;
  position: relative;
  padding: 0 $pad;
  @media (max-width: $break_sm) {
    padding: 0 2rem;
  }
  .col {
    &:not(:last-of-type) {
      padding-right: 1rem;
    }
    width: 100%;
    &-1 {
      flex: 1;
    }
    &-2 {
      flex: 2;
    }
  }
}

.margin-copy {
  position: fixed;
  top: 3em;
  left: 3em;
  width: 8em;
  pointer-events: none;
}

.homepage-special-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
  ul {
    position: absolute;
  }
  @media (max-width: $break_sm) {
    display: block;
    .row {
      display: block;
    }
    ul {
      padding-bottom: 2em;
      position: static;
    }
  }
}

@import './typography';
@import './navigation';
@import './background';
